header {
  background-color: lightgreen;
  margin-left: 96px;
  margin-right: 96px;
  border: solid black 2px;
}

nav {
  background-color: black;
  margin-left: 96px;
  margin-right: 96px;
}

main {
  background-color: white;
  margin-left: 96px;
  margin-right: 96px;
}

footer {
  background-color: lightgreen;
  margin-left: 96px;
  margin-right: 96px;
}
