header {
  background-color: lightgreen;
  margin-left: 96px;
  margin-right: 96px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

nav {
  background-color: black;
  margin-left: 96px;
  margin-right: 96px;
}

main {
  background-color: white;
  margin-left: 96px;
  margin-right: 96px;
}

footer {
  background-color: lightgreen;
  margin-left: 96px;
  margin-right: 96px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
