body {
  background-color: white;
  margin-left: 96px;
  margin-right: 96px;
}

header {
  background-color: aliceblue;
}

main {
  background-color: aliceblue;
}

footer {
  background-color: aliceblue;
}
