body {
  background-color: black;
  margin-left: 96px;
  margin-right: 96px;
}

header {
  background-color: lightblue;
  margin-left: 96px;
  margin-right: 96px;
}

main {
  background-color: aliceblue;
  margin-left: 96px;
  margin-right: 96px;
}

footer {
  background-color: lightblue;
  margin-left: 96px;
  margin-right: 96px;
}
