body {
  background-color: lightcyan;
  margin: 96px 96px 96px 96px;
}

.header {
  border: 2px solid;
  border-color: black;
  text-align: center;
}

.main {
  border: 2px solid;
  border-color: black;
  text-align: center;
}

.footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid;
  border-color: black;
  text-align: center;
}
