.header {
  border: 1px solid;
  border-color: black;
  align-content: center;
}

.main {
  border: 1px solid;
  border-color: black;
  align-content: center;
}

.footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
}
