body {
  background-color: lightblue;
  margin: 96px 96px 96px 96px;
}

.header {
  color: lightgray;
  border: 2px solid;
  border-color: black;
  text-align: center;
}

.main {
  border: 2px solid;
  border-color: black;
  text-align: center;
  color: royalblue;
}

.footer {
  color: lightgray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid;
  border-color: black;
  text-align: center;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}
